form {
    background-color: white;
    /*use ozwald regular font*/
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
    width: 50%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form legend {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
}

form label {
    display: block;
    margin: 0.5em 0 0 0;
}

body {
    background-color: #1B4932;
}

.col-sm {
    margin: auto;
    text-align: center;
}
#logo {
    width: 20%;
    height: 20%;
    margin: 0 auto;
}